@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "mixins";
@import "overrides";
@import "node_modules/bootstrap/scss/bootstrap";
@import "woocommerce";

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizeLegibility;
}
body {
    letter-spacing: $letter-spacing-base;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: $headings-text-transform;
}
h5, h6,
.h5, .h6 {
    letter-spacing: $headings-letter-spacing;
}
input, textarea, select {
	letter-spacing: $letter-spacing-base;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	line-height: inherit !important;
	padding-top: .75rem !important;
	padding-bottom: .75rem !important;
}
img {
	width: 100%;
	height: auto;
}

@include media-breakpoint-up(md) {
    .container-fluid {
        padding-left: $grid-gutter-width * 2;
        padding-right: $grid-gutter-width * 2;
    }
}
@include media-breakpoint-up(lg) {
    .container-fluid {
        padding-left: $grid-gutter-width * 2.5;
        padding-right: $grid-gutter-width * 2.5;
    }
}

// Site header
.site-header {
    .site-branding {
        padding-top: .875rem;
        padding-bottom: .625rem;
        .site-branding__top {
            position: relative;
            .site-subnavigation {
                position: absolute;
                left: 0;
                right: 0;
                height: 100%;
                z-index: 0;
                ul {
                    margin: $spacer / 2 0 0;
                    li {
                        a {
                            font-size: .6875rem;
                            font-weight: $font-weight-medium;
                            text-transform: uppercase;
                            letter-spacing: .1em;
                            color: rgba(0, 0, 0, 0.4);
                            svg {
                                width: 21px;
                                height: 21px;
                                fill: rgba(0, 0, 0, 0.4);
                                margin-top: -.25rem;
                                margin-right: .25rem;
                            }
                            &:hover,
                            &:focus {
                                color: $body-color;
                                svg {
                                    fill: $body-color;
                                }
                            }
                        }
                    }
                }
            }
            .site-logo {
                position: relative;
                max-width: 4rem;
                margin: auto;
                z-index: 1;
                a {
                    display: block;
                    svg {
                        max-width: 100%;
                    }
                }
            }
        }
        .navbar {
            .navbar-nav {
                > li {
                    padding-left: 1.125rem;
                    padding-right: 1.125rem;
                    > a {
                        font-size: .8125rem;
                        line-height: 2rem;
                        font-weight: $font-weight-medium;
                        text-transform: uppercase;
                        letter-spacing: .1em;
                    }
                } 
            }
        }
    }
}
.site-hero {
    .site-hero-container {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
.fengshui-dicover {
    .container {
        max-width: 40rem;
    }
    .form-fengshui-discover {
        margin-left: -.25rem;
        margin-right: -.25rem;
        .form-row {
            margin: 0;
            padding-left: .25rem;
            padding-right: .25rem;
            &.form-row-wide {
                margin-top: .5rem;
                a {
                    display: block;
                    width: 100%;
                    font-family: $headings-font-family;
                    font-size: $h5-font-size;
                    letter-spacing: $headings-letter-spacing;
                    text-transform: $headings-text-transform;
                    color: $white;
                }
            }
        }
        #fengshui-birthday {
            width: 100% !important;
            height: auto !important;
            border: $border-width solid $border-color;
            border-radius: $input-border-radius;
            box-sizing: border-box;
            input {
                padding: $input-padding-y $input-padding-x !important;
                line-height: $input-btn-line-height;
                outline: none;
            }
        }
    }
}
.fengshui-display {
    position: relative;
    max-height: 1000px;
    background: #f7f3e8;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    p {
        span {
            text-transform: uppercase;
        }
    }
    .row .row {
        margin-left: -.125rem;
        margin-right: -.125rem;
        -ms-justify-content: center;
        justify-content: center;
        > div {
            padding-left: .125rem;
            padding-right: .125rem;
        }
    }
    .fengshui-color-swatch {
        display: block;
        width: 100%;
        height: 1.375rem;
        //border-radius: $input-border-radius;
        &[data-color=black] {
            background: $black;
        }
        &[data-color=blue] {
            background: #039BE5;
        }
        &[data-color=green] {
            background: #4CAF50;
        }
        &[data-color=yellow] {
            background: #FDD835;
        }
        &[data-color=brown] {
            background: #795548;
        }
        &[data-color=red] {
            background: #E53935;
        }
        &[data-color=pink] {
            background: #7B1FA2;
        }
        &[data-color=white] {
            background: $white;
        }
        &[data-color=gray] {
            background: #9E9E9E;
        }
    }
    .btn-section-close {
        position: absolute;
        top: 2rem;
        right: 8vw;
    }
    &.section-close {
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }
}

.site-footer {
    color: $white;
    background: $black;
}

.modal.drawer {
    &.show {
		.modal-dialog {
			transform: translateX(0) !important;
		}
    }
    &.drawer-left {
		.modal-dialog {
			left: 0;
			transform: translateX(-100%) !important;
		}
		&.show {
			.modal-dialog {
				transform: translateX(0) !important;
			}
		}
    }
    .modal-dialog {
		position: absolute;
        right: 0;
        max-width: 100%;
		width: $modal-drawer-width;
		height: 100%;
		margin: 0;
		transform: translateX(100%) !important;
		.modal-content {
			height: 100%;
			border: 0;
			// Just in case the modal-body is longer than 100vh
			.modal-body {
				max-height: calc(100vh - #{$modal-drawer-header-height});
				padding-top: $modal-inner-padding / 2;
				padding-bottom: $modal-drawer-header-height;
				overflow-y: auto;
			}
			.modal-close {
				text-align: right;
				padding: $modal-inner-padding/2 0;
				border-bottom: 1px solid $border-color;
			}
		}
    }
    .modal-content {
      	border-radius: 0;
    }
    .modal-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		border: 0;
		border-radius: 0;
    }
}
.modal-open .drawer {
	  overflow-y: hidden;
}
.admin-bar .drawer {
    top: 32px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
    &:focus {
        background-color: #000;
        border-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
        clip: auto !important;
        clip-path: none;
        color: #fff;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        height: auto;
        left: 5px;
        line-height: normal;
        padding: 15px 23px 14px;
        text-decoration: none;
        top: 5px;
        width: auto;
        z-index: 100000;
        /* Above WP toolbar. */
    }
}

/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}
