/*!
Black Pearl Editor Styles
*/

/** === Includes === */

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "mixins";
@import "overrides";

/** === Editor Frame === */

body {

	/* .editor-writing-flow {

		padding-left: $container-fluid-sm-padding-x;
		padding-right: $container-fluid-sm-padding-x;
		
		@include media-breakpoint-up(md) {
			max-width: calc( 70vw + 2 * #{$container-fluid-sm-padding-x} );;
			margin-left: auto;
			margin-right: auto;
			overflow-x: hidden;
			.editor-post-title__block,
			.editor-default-block-appender,
			.editor-block-list__block {
				margin-left: 0;
				margin-right: 0;
			}
		}
	
		@include media-breakpoint-up(lg) {
			max-width: calc( 60vw + 2 * #{$container-fluid-sm-padding-x} );;
		}
	
		@include media-breakpoint-up(xl) {
			max-width: calc( 50vw + 2 * #{$container-fluid-sm-padding-x} );
		}
	}
	
	.wp-block[data-align="wide"] {
		margin-left: auto;
		margin-right: auto;

		@include media-breakpoint-up(md) {
			margin-left: -15vw;
			width: calc(100% + 30vw);
			max-width: calc(100% + 30vw);
		}
	}

	.wp-block[data-align="full"] {
		margin-left: calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;
	} */
	.editor-writing-flow {
		.wp-block {
			@include media-breakpoint-up(md) {
				max-width: calc( 50% + 86px );
				&[data-align="wide"]{
					max-width: calc( 80% + 86px );
				}
				&[data-align="full"]{
					max-width: none;
				}
				.wp-block {
					max-width: 100%;
				}
			}
		}
	}
	
}

/** === Base Typography === */

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	letter-spacing: $letter-spacing-base;
	color: $body-color;
	-moz-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p {
	font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

h1 {
	font-size: $display3-size;
	//@include post-section-dash;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size;
	}
}

h2 {
	font-size: $h2-font-size;
	//@include post-section-dash;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size;
	}
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

a {
	//@include link-transition;
	color: $primary;

	&:hover,
	&:active {
		//color: $color__link-hover;
		outline: 0;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
		text-decoration: underline;
	}
}

.has-primary-background-color { 
	
	p,
	h1, 
	h2,
	h3,
	h4,
	h5,
	h6, 
	a,
	a:hover {
		//color: $color__background-body;
	}
}

figcaption,
.gallery-caption {
	//font-family: $headings-font-family;
	font-size: $font-size-sm;
	line-height: 1.6;
	//color: rgba($body-color, .5);
}

/** === Post Title === */

.editor-post-title__block {
	//@include post-section-dash;

	&:before {
		width: $h1-font-size;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1em;
		position: relative;
		top: 0.5em;
	}

	.editor-post-title__input {
		font-family: $headings-font-family;
		font-size: $h1-font-size;
		font-weight: $headings-font-weight;
		text-align: center;
	}
}

/** === Default Appender === */

.editor-default-block-appender input[type="text"].editor-default-block-appender__content {
	font-family: $font-family-base;
	font-size: $font-size-base;
}

/** === Paragraph === */

.wp-block-paragraph {

	&.has-drop-cap:not(:focus)::first-letter {
		//font-family: $headings-font-family;
		font-size: $display2-size;
		line-height: 1;
		font-weight: bold;
		margin: 0 0.25em 0 0;
	}
}

/** === Cover === */

.wp-block-cover {

	h2,
	.wp-block-cover-text {
		font-family: $headings-font-family;
		font-size: $h2-font-size;
		font-weight: $headings-font-weight;
		line-height: 1.4;
	}

	&.has-left-content {

		h2,
		.wp-block-cover-text {
			padding: 1em;
		}
	}

	&.has-right-content {

		h2,
		.wp-block-cover-text {
			padding: 1em;
		}
	}
}

.wp-block[data-type="core/cover"][data-align="left"],
.wp-block[data-type="core/cover"][data-align="right"] {

	h2,
	.wp-block-cover-text {
		width: 100%;
		max-width: 305px;
	}
}

.wp-block[data-type="core/cover"][data-align="wide"],
.wp-block[data-type="core/cover"][data-align="full"] {

	@include media-breakpoint-up(lg) {
		h2,
		.wp-block-cover-text {
			padding: 0;
			width: calc(6 * (100vw / 12));
			max-width: calc(6 * (100vw / 12));
		}
	}
}

/** === Gallery === */

.wp-block-gallery {

	.blocks-gallery-image figcaption,
	.blocks-gallery-item figcaption,
	.gallery-item .gallery-caption {
		font-size: $font-size-sm;
		line-height: 1.6;
	}
}

/** === Button === */

.wp-block-button {

	.wp-block-button__link {
		line-height: 1.8;
		//font-family: $headings-font-family;
		//font-size: $font__size-sm;
		font-weight: bold;
	}

	&:not(.is-style-outline) .wp-block-button__link {
		//background: $color__background-button;
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: $border-radius;
	}

	&.is-style-outline,
	&.is-style-outline:hover,
	&.is-style-outline:focus,
	&.is-style-outline:active {
		background: transparent;
		//color: $color__background-button;

		.wp-block-button__link {
			background: transparent;

			&:not(.has-text-color) {
				//color: $color__background-button;
			}
		}
	}
}

/** === Blockquote === */

.wp-block-quote {

	&:not(.is-large):not(.is-style-large) {
		border-left: 2px solid $primary;
	}

	&.is-large,
	&.is-style-large {
		margin-top: $h1-font-size;
		margin-bottom: $h1-font-size;
	}

	&.is-large p,
	&.is-style-large p {
		font-size: $h2-font-size;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	cite,
	footer,
	.wp-block-quote__citation {
		//font-family: $headings-font-family;
		font-size: $font-size-sm;
		line-height: 1.6;
		//color: rgba($body-color, .5);
	}
}

/** === Pullquote === */

.wp-block-pullquote {
	border: none;

	&.is-style-solid-color {

		blockquote {
			width: calc(100vw - (2 * #{ $container-fluid-sm-padding-x}));
			max-width: 80%;

			@include media-breakpoint-up(md) {
				width: calc(8 * (100vw / 12));
			}

			@include media-breakpoint-up(lg) {
				width: calc(6 * (100vw / 12));
			}
		}

		blockquote:not(.has-text-color) {
			color: $body-color;
		}

		&:not(.has-background-color) {
			background-color: $primary;
		}
	}

	blockquote {
		hyphens: auto;
		word-break: break-word;
	}
}

.wp-block[data-type="core/pullquote"],
.wp-block[data-type="core/pullquote"][data-align="left"],
.wp-block[data-type="core/pullquote"][data-align="right"] {

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p {
		font-size: $h3-font-size;
		font-style: italic;
		line-height: 1.3;
		margin-bottom: 0.5em;
		margin-top: 0.5em;

		@include media-breakpoint-up(md) {
			font-size: $h2-font-size;
		}
	}

	.wp-block-pullquote__citation {
		//font-family: $headings-font-family;
		font-size: $font-size-sm;
		line-height: 1.6;
		text-transform: none;
	}

	em {
		font-style: normal;
	}
}

.wp-block[data-type="core/pullquote"][data-align="left"],
.wp-block[data-type="core/pullquote"][data-align="right"] {

	.editor-block-list__block-edit {
		max-width: 50%;

		.wp-block-pullquote:not(.is-style-solid-color) {
			padding: 0;
		}

		.wp-block-pullquote.is-style-solid-color {
			padding: 1em;
		}
	}

	blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
	blockquote > .editor-rich-text p,
	p,
	.wp-block-pullquote__citation {
		text-align: left;
	}
}

/** === File === */

.wp-block-file {
	font-family: $headings-font-family;

	.wp-block-file__button {
		line-height: 1.8;
		font-size: $font-size-sm;
		font-weight: bold;
		background-color: $primary;
		border-radius: 5px;
	}
}

/** === Verse === */

.wp-block-verse,
.wp-block-verse pre {
	padding: 0;
}

/** === Code === */

.wp-block-code {
	border-radius: 0;
}

/** === Table === */

.wp-block-table {

	td, th {
		border-color: rgba($body-color, .5);
	}
}

/** === Separator === */

.wp-block-separator {

	&:not(.is-style-dots) {
		border-bottom: 2px solid rgba($body-color, .5);
	}

	&:not(.is-style-wide):not(.is-style-dots) {
		width: $h2-font-size;
		margin-left: 0;
	}

	&.is-style-dots:before {
		color: rgba($body-color, .5);
		font-size: $h3-font-size;
		letter-spacing: calc(2 * #{$container-fluid-sm-padding-x});
		padding-left: calc(2 * #{$container-fluid-sm-padding-x});
	}
}

/** === Latest Posts, Archives, Categories === */

ul.wp-block-archives,
.wp-block-categories,
.wp-block-latest-posts {
	padding: 0;
	list-style-type: none;

	ul {
		padding: 0;
		list-style-type: none;
	}

	li {
		font-family: $headings-font-family;
		font-size: calc(#{$font-size-base} * #{$font-size-ratio});
		font-weight: bold;
		line-height: $headings-line-height;

		&:not(.menu-item-has-children) {
			padding-bottom: ( .75 * $container-fluid-sm-padding-x );
		}

		a {
			text-decoration: none;
		}

		ul {
			padding-left: $container-fluid-sm-padding-x;
		}
	}
}

/** === Latest Posts grid view === */
.wp-block-latest-posts.is-grid {
		li {
			border-top: 2px solid $border-color;
			padding-top: (1 * $container-fluid-sm-padding-x);
			margin-bottom: (2 * $container-fluid-sm-padding-x);
			a {
				&:after {
					content: '';
				}
			}
			&:last-child {
				margin-bottom: auto;
				a:after {
					content: '';
				}
			}
		}
	}

/** === Latest Comments === */

.wp-block-latest-comments {

	.wp-block-latest-comments__comment-meta {
		font-family: $headings-font-family;
		font-weight: bold;

		.wp-block-latest-comments__comment-date {
			font-weight: normal;
		}
	}

	.wp-block-latest-comments__comment,
	.wp-block-latest-comments__comment-date,
	.wp-block-latest-comments__comment-excerpt p {
		font-size: inherit;
	}

	.wp-block-latest-comments__comment-date {
		font-size: $font-size-sm;
	}
}

/** === Classic Editor === */

/* Properly center-align captions in the classic-editor block */
.wp-caption {
	dd {
		color: rgba($body-color, .5);
 		font-size: $font-size-sm;
 		font-family: $headings-font-family;
 		//line-height: $font__line-height-pre;
 		margin: 0;
 		padding: ( $container-fluid-sm-padding-x * .5 );
 		text-align: left;
		text-align: center;
		-webkit-margin-start: 0px;
		margin-inline-start: 0px;
	}
}

.wp-block-freeform {

	/* Add style for galleries in classic-editor block */
	blockquote {
		border-left: 2px solid $primary;

		cite {
			font-family: $headings-font-family;
			font-size: $font-size-sm;
			font-style: normal;
			line-height: 1.6;
			color: rgba($body-color, .5);
		}
	}

	/* Add style for galleries in classic-editor block */
	.gallery {

		display: flex;

		.gallery-item {
			padding: ( $container-fluid-sm-padding-x * .5 );
			text-align: center;
			vertical-align: top;
			width: 100%;

			.gallery-caption {
				margin: 0;
			}
		}

		// Loops to enumerate the classes for gallery columns.
		@for $i from 2 through 9 {
			&.gallery-columns-#{$i} .gallery-item {
				max-width: calc( ( 12 / #{$i} ) * (100% / 12) );
			}
		}
	}
}
