/**
 * Single Product
 */
 .single-product {
	div.product {
		@include clearfix;
		@include make-row();
		position: relative;
		padding-top: 3rem;
		> * {
			@include make-col-ready();
		}

		.woocommerce-product-gallery {
			@include media-breakpoint-up(md) {
				@include make-col(6);
			}
			
			position: relative;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: $grid-gutter-width;
				img:not(.zoomImg) {
					@extend .img-fluid;
				}
			}

			.flex-control-thumbs {
				@include clearfix;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					float: left;

					img {
						opacity: .5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			@for $i from 2 through 5 {
				&.woocommerce-product-gallery--columns-#{$i} {
					.flex-control-thumbs {
						@include make-row();
						li {
							@include make-col-ready();
							@include make-col(2);
							img {
								@extend .img-fluid;
							}

							&:nth-child(#{$i}n) {
								//margin-right: 0;
							}

							&:nth-child(#{$i}n+1) {
								//clear: both;
							}
						}
					}
				}
			}

			> .woocommerce-product-gallery__wrapper {
				> .woocommerce-product-gallery__image {
					margin-bottom: $grid-gutter-width;
					a {
						display: block;
						img {
							@extend .img-fluid;
						}
					}
				}				
			}
			> :last-child {
				margin-bottom: 0;
			}
		}
		.summary {
			text-align: center;
			@include media-breakpoint-up(md) {
				@include make-col(4);
			}
			@include media-breakpoint-up(xl) {
				@include make-col-offset(1);
			}
			.product_title {
				text-align: left;
				font-size: $h3-font-size;
			}
			.price {
				font-size: $h4-font-size;
			}
			.woocommerce-product-rating {
				display: flex;
				align-items: center;
				.woocommerce-review-link {
					margin-left: .25em;
				}
			}
			.variations_form {
				padding-right: 6rem;
			}
			table.variations {
				@extend .table;
				position: relative;
				th, td {
					margin: 0;
					padding: 2px 0;
					border: 0;
					vertical-align: middle;
				}
				label {
					display: block;
					margin: 0;
					padding-left: 1rem;
					height: $input-height;
					font-size: $input-font-size-sm;
					line-height: $input-height;
					text-transform: uppercase;
					color: $body-color-fade;
					background: $border-color;
					border-radius: $border-radius 0 0 $border-radius;
				}
				select {
					border-radius: 0 $border-radius $border-radius 0;
				}
			}
			select, input {
				@extend .form-control;
			}
			.reset_variations {
				position: absolute;
				top: 0;
				left: 100%;
			}
			.quantity {
				width: 0;
				height: 0;
				display: none;
				visibility: hidden;
			}
			.single_add_to_cart_button {
				@extend .btn;
				@extend .btn-dark;
			}
			// tawcvs plugins
			.tawcvs-swatches {
				padding: .5rem;
				.swatch {
					position: relative;
					display: inline-block;
					width: auto;
					min-width: 1.5rem;
					height: 1.5rem;
					text-align: center;
					line-height: 1.5rem;
					margin-right: 1.5rem;
					border-radius: $border-radius;
					border: 0;
					opacity: 1;
					&.swatch-color {
						&::before {
							width: 6px;
							height: 10px;
							top: 12px;
							left: 15px;
							border-color: $black;
						}
					}
					&.swatch-label {						
						font-size: $font-size-sm;
						font-weight: $font-weight-normal;
						background: transparent;
						&.selected {
							border-color: $black;
						}
					}
					&:after {
						content: "";
						position: absolute;
						width: 2.5rem;
						height: 2.5rem;
						left: -.5rem;
						top: -.5rem;
						border-radius: $border-radius;
						border: $border-width solid transparent;
					}
					&.selected {
						box-shadow: none;
						&:after {
							border-color: $black;
						}
					}
					
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $success;
	}

	&.out-of-stock {
		color: $danger;
	}
}